<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Midjourney Diffusion Web App</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
  </head>
  <body class="flex flex-col h-full">
    <nav class="bg-gray-900">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
           
          </div>
        </div>
      </div>
    </nav>
    <main class="flex-grow">
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
</html>